@font-face {
    font-family: 'JetBrains Mono';
    src: url('https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/fonts/web/JetBrainsMono-Regular.eot') format('embedded-opentype'),
        url('https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/fonts/web/JetBrainsMono-Regular.woff2') format('woff2'),
        url('https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/fonts/web/JetBrainsMono-Regular.woff') format('woff'),
        url('https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/fonts/ttf/JetBrainsMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body,
html {
    height: 100%;
}

body {
    margin: 0;
}

pre {
    display: inline;
    background-color: transparent;
    line-height: 25px;
    font-family: 'JetBrains Mono'
}

code {
    font-family: 'JetBrains Mono'
}

// override prism.js
.token.operator {
    color: #708090;
    background: none !important;
}

.token.number {
    color: #d19a66;
}