$diffViewerBackground: #ffffff;
$diffViewerColor: #212529;
$addedBackground: #e6ffed;
$addedColor: #24292e;
$removedBackground: #ffeef0;
$removedColor: #24292e;
$wordAddedBackground: #acf2bd;
$wordRemovedBackground: #fdb8c0;
$addedGutterBackground: #cdffd8;
$removedGutterBackground: #ffdce0;
$gutterBackground: #f7f7f7;
$gutterBackgroundDark: #f3f1f1;
$highlightBackground: #fffbdd;
$highlightGutterBackground: #fff5b1;
$codeFoldGutterBackground: #dbedff;
$codeFoldBackground: #f1f8ff;
$emptyLineBackground: #fafbfc;
$gutterColor: #212529;
$addedGutterColor: #212529;
$removedGutterColor: #212529;
$codeFoldContentColor: #212529;
$diffViewerTitleBackground: #fafbfc;
$diffViewerTitleColor: #212529;
$diffViewerTitleBorderColor: #eee;

.code-diff {
  .content {
    width: 100%;
  }

  .split-view {
    .content {
      width: 50%;
    }
  }

  .diff-container {
    width: 100%;
    background: $diffViewerBackground;

    pre {
      margin: 0;
      white-space: pre-wrap;
      line-height: 25px;
    }

    border-collapse: collapse;
  }

  .code-fold-content {
    color: $codeFoldContentColor,
  }

  .content-text {
    color: $diffViewerColor
  }

  .line-number {
    color: $gutterColor
  }

  .diff-removed {
    background: $removedBackground;
    color: $removedColor;

    pre {
      color: $removedColor;
    }

    .line-number {
      color: $removedGutterColor
    }
  }

  .diff-added {
    background: $addedBackground;
    color: $addedColor;

    pre {
      color: $addedColor;
    }

    .line-number {
      color: $addedGutterColor
    }
  }

  .word-diff {
    padding: 0;
    display: inline-flex;
    border-radius: 1px;
  }


  .word-added {
    background: $wordAddedBackground;
  }

  .word-removed {
    background: $wordRemovedBackground;
  }

  .code-fold-gutter {
    background-color: $codeFoldGutterBackground;
  }

  .code-fold {
    background-color: $codeFoldBackground;
    height: 40px;
    font-size: 14px;
    font-weight: 700;

    a {
      text-decoration: underline !important;
      cursor: pointer;

      pre {
        display: inline
      }
    }
  }

  .empty-line {
    background-color: $emptyLineBackground;
  }

  .marker {
    width: 25px;
    padding-left: 10px;
    padding-right: 10px;
    user-select: none;

    .diff-added {
      pre {
        color: $addedColor
      }
    }
  ;

    .diff-removed {
      pre {
        color: $removedColor
      }
    }
  }

  .highlighted-line {
    background: $highlightBackground;

    .word-added, .word-removed {
      background-color: initial
    }
  }

  .gutter {
    user-select: none;
    min-width: 50px;
    padding: 0 10px;
    text-align: center;
    background: $gutterBackground;

    &:hover {
      cursor: pointer;
      background: $gutterBackgroundDark;

      pre {
        opacity: 1
      }
    }

    pre {
      opacity: 0.5
    }

    .diff-added {
      background: $addedGutterBackground
    }

    .diff-removed {
      background: $removedGutterBackground
    }

    .highlighted-gutter {
      background: $highlightGutterBackground;

      &:hover {
        background: $highlightGutterBackground
      }
    }
  }

  .empty-gutter {
    &:hover {
      background: $gutterBackground;
      cursor: initial
    }
  }

  .line {
    vertical-align: baseline;
  }
}
