.code-diff {
  .content {
    width: 100%;
  }

  .split-view {
    .content {
      width: 50%;
    }
  }

  .diff-container {
    width: 100%;
    background: $diffViewerBackground;

    pre {
      margin: 0;
      white-space: pre-wrap;
      line-height: 22px;
    }

    border-collapse: collapse;
  }

  .code-fold-content {
    color: $codeFoldContentColor,
  }

  .content-text {
    color: $diffViewerColor
  }

  .line-number {
    color: $gutterColor
  }

  .diff-removed {
    background: $removedBackground;
    color: $removedColor;

    pre {
      color: $removedColor;
    }

    .line-number {
      color: $removedGutterColor
    }
  }

  .diff-added {
    background: $addedBackground;
    color: $addedColor;

    pre {
      color: $addedColor;
    }

    .line-number {
      color: $addedGutterColor
    }
  }

  .word-diff {
    padding: 0 1px;
    margin: 1px 0;
    display: inline-flex;
    border-radius: 3px;
  }

  .word-added {
    background: $wordAddedBackground;
  }

  .word-removed {
    background: $wordRemovedBackground;
  }

  .code-fold-gutter {
    background-color: $codeFoldGutterBackground;
  }

  .code-fold {
    background-color: $codeFoldBackground;
    height: 40px;
    font-size: 14px;
    font-weight: 700;

    a {
      text-decoration: underline !important;
      cursor: pointer;

      pre {
        display: inline
      }
    }
  }

  .empty-line {
    background-color: $emptyLineBackground;
  }

  .marker {
    width: 25px;
    padding-left: 10px;
    padding-right: 10px;
    user-select: none;

    .diff-added {
      pre {
        color: $addedColor
      }
    }

    .diff-removed {
      pre {
        color: $removedColor
      }
    }
  }

  .highlighted-line {
    background: $highlightBackground;

    .word-added, .word-removed {
      background-color: initial
    }
  }

  .gutter {
    user-select: none;
    min-width: 40px;
    padding: 0 10px;
    text-align: center;
    background: $gutterBackground;
    
    pre {
      font-size: 11px;
      white-space: nowrap;
    }

    &.diff-added {
      background: $addedGutterBackground
    }

    &.diff-removed {
      background: $removedGutterBackground
    }

    &:hover {
      cursor: pointer;
      background: $gutterBackgroundDark;

      pre {
        opacity: 1
      }
    }

    pre {
      opacity: 0.5
    }

    .highlighted-gutter {
      background: $highlightGutterBackground;

      &:hover {
        background: $highlightGutterBackground
      }
    }
  }

  .empty-gutter {
    &:hover {
      background: $gutterBackground;
      cursor: initial
    }
  }

  .line {
    vertical-align: baseline;
  }

  .left-title, .right-title {
    font-family: $font-family-mono;
    padding: 2px 4px;
    font-size: 90%;
    border-radius: 5px;
  }

  .left-title-colored {
    color: $removedColor;
    background: $removedGutterBackground;
  }

  .right-title-colored {
    color: $addedColor;
    background: $addedGutterBackground;
  }
}
