.panel {
  .panel-title {
    font-size: $font-size-h4
  }
}

.panel-user {
  .avatar {
    width: 300px;
    height: 30px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 5px;
  }

  .image-plain {
    height: 0;
    margin-top: 110px;
  }

  .author {
    text-align: center;
    text-transform: none;
    margin-top: 10px;
  }

  .avatar {
    width: 100px;
    height: 100px;
    border: 5px solid #FFFFFF;
    margin: $padding-small-vertical;

    &.border-gray {
      border-color: #EEEEEE;
    }
  }

  .title {
    overflow: hidden;
    margin: $margin-base-vertical;
    line-height: 24px;
  }

  .image {
    width: 100%;
    overflow: hidden;
    height: 260px;
    border-radius: $border-radius-base $border-radius-base 0 0;
    position: relative;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;

    img {
      width: 100%;
    }
  }
}
